################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testJwtApi1/bin
/testJwtApi1/obj
/.vs